@media screen and (min-width: 700px) {
    .footer-div {
        display: flex;
        text-align: center;
    }

    .info,
    .socials,
    .student-info {
        padding: 5rem;
        margin: auto;
    }

    .hamburger {
        display: none;
    }

}

@media screen and (max-width: 699px) {
    .footer-div {
        text-align: left;
    }

    .info,
    .socials,
    .student-info {
        padding: 1rem;
        margin: auto;
    }

    .hamburger {
        position: absolute;
        top: 15px;
        right: 15px;
        color: white;
        background-color: navy;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 7px;
        margin-bottom: 3rem;
    }
    nav {
        display: none;
    }

    nav a {
        border-bottom: solid 1px #ccc;
        text-align: center;
    }

    nav[open] {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding: 5px;
        justify-content: space-around;
        gap: 0;
    }

    .hamburger::before {
        content: "☰";
        cursor: pointer;
    }

    .hamburger[open]::before {
        content: "❌";  
    }    
}